<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Comercios</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="plugins/sweetalert2/sweetalert2.min.css">
<div th:replace="includes/css"></div>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="includes/navbar"></div>
        <div th:replace="includes/sidebar"></div>
        <div class="content-wrapper">
          <section class="content">
            <div class="container-fluid">
              <div class="card card-rotating bg-gradient-light">
                  <div class="card-header">
                    <h3 class="card-title">COMERCIOS</h3>
                    <div class="card-tools">                      
                      <ul class="nav nav-pills ml-auto">
                        <button sec:authorize="hasAuthority('ROL_ADMIN')" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#nuevo">
                          Nuevo
                        </button>
                      </ul>
                    </div>
                  </div>
                  <div class="modal fade" id="nuevo">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <form class="form-signin" th:action="@{/registrocomercio}" method="post" novalidate>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mx-auto">
                                <div class="form-group">
                                  <h3>Registra tu comercio</h3>
                                </div>
                                <div th:object="${comercio}">
                                  <div class="form-group">
                                    <input th:field="*{nombre}" type="text" class="form-control validate" placeholder="Nombre del comercio" required>
                                  </div>
                                  <div class="form-group">
                                    <div th:if="${repetido}" class="alert alert-danger" role="alert">Correo electronico ya registrado</div>
                                    <input th:field="*{email}" type="email" class="form-control validate" id="exampleInputEmail1" placeholder="Correo electronico del comercio" required>
                                  </div>
                                  <div class="form-group">
                                    <select th:field="*{tipocomercio}" data-placeholder="Selecciona rol" class="form-control validate">
                                      <option th:each="tipo :${tiposcomercios}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
                                    </select>
                                  </div>
                                </div>
                                <div th:object="${sucursal}">
                                  <div class="form-group">
                                    <div class="row">
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto">
                                        <input th:field="*{calle}" type="text" name="calle" id="calle" class="form-control validate" placeholder="Calle" required>
                                      </div>
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto">
                                        <input th:field="*{numero}" type="number" name="numero" id="numero" class="form-control validate" placeholder="Numero" min="0" max="9000" required>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div th:if="${codigopostalmal}" class="alert alert-danger" role="alert">Por el momento no estamos trabajando en esta colonia.</div>
                                    <div class="row">
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto">
                                        <input th:field="*{codigopostal}" type="number" name="cp" id="cp" class="form-control validate" placeholder="Codigo postal" min="67000" max="80000" required>
                                      </div>
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto">
                                        <input th:field="*{colonia}" type="text" name="colonia" id="colonia" class="form-control validate" placeholder="Colonia" required>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <input th:field="*{telefono}" type="tel" class="form-control validate" data-inputmask='"mask": "(999) 999-9999"' data-mask placeholder="Numero telefonico del comercio" required>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="text-center">
                                    <button type="submit" class="btn btn-block btn-outline-primary swalDefaultInfo">Registrar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <table id="tabla1" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>nombre</th>
                        <th>email</th>
                        <th>tipo comercio</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr th:if="${comercios.empty}">
                              <td colspan="3"> No hay comercios registrados </td>
                          </tr>
                          <tr th:each="sucursal :${sucursales}" th:class="${sucursal.estatus}?table-primary:table-warning">
                            <td><span th:text="${sucursal.nombre}"> Authority </span></td>
                            <td><span th:text="${sucursal.email}"> Authority </span></td>
                            <td><span th:text="${sucursal.comercio.tipocomercio.nombre}"> Authority </span></td>
                            <td class="text-center py-0 align-middle">
                              <div class="btn-group btn-group-sm">
                                <a class="btn btn-info" data-toggle="modal" th:data-target="'#modal-' + ${sucursal.id}"><i class="fas fa-eye"></i></a>
                                <a sec:authorize="hasAuthority('ROL_ADMIN')" class="btn btn-warning" data-toggle="modal" th:data-target="'#modal-editar-' + ${sucursal.id}"><i class="fas fa-edit"></i></a>
                                <a sec:authorize="hasAuthority('ROL_ADMIN')" th:onclick="eliminarcomercio([[${sucursal.id}]])" th:class="${sucursal.estatus}?'btn btn-danger':'btn btn-primary'"><i th:class="${sucursal.estatus}?'fas fa-trash':'fas fa-redo-alt'"></i></a>
                                <div class="modal fade" th:id="'modal-' + ${sucursal.id}" data-backdrop="false">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header text-center">
                                        <h4 class="modal-title col-12 text-center" th:text="${sucursal.nombre}">Default Modal</h4>
                                      </div>
                                      <div class="modal-body">
                                        <h5>INFORMACION</h5>
                                        <p> <b> Direccion </b> </p>
                                        <p th:text="${'Calle '+sucursal.calle+' #'+sucursal.numero+', Colonia '+sucursal.colonia}">One fine body&hellip;</p>
                                        <p> <b> Telefono </b> </p>
                                        <p th:text="${sucursal.telefono}">One fine body&hellip;</p>
                                        <p> <b> Correo </b> </p>
                                        <p th:text="${sucursal.email}">One fine body&hellip;</p>
                                        <!-- <p th:text="$comercio.sucursales.size">One fine body&hellip;</p> -->
                                      </div>
                                      <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">CATALOGO</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal fade" th:id="'modal-editar-' + ${sucursal.id}" data-backdrop="false">
                                  <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                      <form class="form-signin" th:action="@{/editarcomercio(id=${sucursal.id})}" method="post" novalidate>
                                        <div class="modal-header">
                                          <h4 class="modal-title">EDITAR COMERCIO <p th:text="${sucursal.nombre}"></p></h4>
                                          <input type="hidden" name="id" th:value="${sucursal.id}">
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
                                                        <input th:value="${sucursal.nombre}" id="nombre" name="nombre" type="text" class="form-control validate" placeholder="Nombre" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                              <div class="row">
                                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto">
                                                      <input type="text" name="calle" id="calle" class="form-control validate" placeholder="calle" th:value="${sucursal.calle}" required>
                                                  </div>
                                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto">
                                                      <input type="number" name="numero" id="numero" class="form-control validate" placeholder="numero" th:value="${sucursal.numero}" min="0" max="9000" required>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="row">
                                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto">
                                                      <input type="number" name="cp" id="cp" class="form-control validate" placeholder="codigopostal" th:value="${sucursal.codigopostal}" min="67000" max="80000" required>
                                                  </div>
                                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mx-auto">
                                                      <input type="text" name="colonia" id="colonia" class="form-control validate" placeholder="colonia" th:value="${sucursal.colonia}" required>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                            <input type="tel" name="telefono" class="form-control validate" data-inputmask='"mask": "(999) 999-9999"' data-mask placeholder="telefono" th:value="${sucursal.telefono}" required>
                                          </div>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                          <button type="submit" class="btn btn-primary">Editar</button>
                                        </div>
                                      </form>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                          <th>nombre</th>
                          <th>email</th>
                          <th>tipo comercio</th>
                          <th></th>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
              </div>
            </div>
            <div class="card text-center">
                <p>Los comercios marcados en amarillo no han realizado su pago mensual.</p>
            </div>
          </section>
        </div>
    </div>
    <div th:replace="includes/scripts"></div>
    <div th:replace="includes/mascara"></div>
    <div th:replace="includes/formulariovalidar"></div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="dist/js/funcionesextra.js"></script>
</body>
</html>