<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Pedidos</title>
<div th:replace="includes/css"></div>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="includes/navbar"></div>
        <div th:replace="includes/sidebar"></div>
        <div class="content-wrapper">
          <div class="card card-rotating bg-gradient-light">
            <div class="card-body">
              <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h3 class="card-title">PEDIDOS</h3>
                  </div>
                  <div class="card-body">
                    <table id="tabla1" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>fecha</th>
                        <th>hora de pedido</th>
                        <th>hora de recoleeccion</th>
                        <th>hora de entrega</th>
                        <th>total</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr th:if="${pedidos.empty}">
                              <td colspan="5"> No hay ordenes registrados </td>
                          </tr>
                          <tr th:each="pedido :${pedidos}" th:class="${pedido.horaentrega}?table-primary:table-warning">
                              <td><span th:text="${pedido.fecha}"> Authority </span></td>
                              <td><span th:text="${pedido.horapedido}"> Authority </span></td>
                              <td><span th:text="${pedido.horarecoleccion}"> Authority </span></td>
                              <td><span th:text="${pedido.horaentrega}"> Authority </span></td>
                              <td><span th:text="${pedido.total}"> Authority </span></td>
                              <td class="text-center py-0 align-middle">
                                <div class="btn-group btn-group-sm">
                                  <a data-toggle="modal" th:data-target="'#modal-' + ${pedido.id}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                  <a th:if="${pedido.horaentrega==null}" data-toggle="modal" th:data-target="'#modal-asignar-' + ${pedido.id}" sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_CALLCENTER')" class="btn btn-warning"><i class="fas fa-edit"></i><p th:text="${pedido.repartidor==null?'Asignar repartidor':'Cambiar repartidor'}"></p></a>
                                  <!-- <a sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_CALLCENTER')" th:onclick="eliminarOrden([[${pedido.id}]])" class="btn btn-danger"><i class="fas fa-trash"></i></a> -->
                                </div>
                                <div class="modal fade" th:id="'modal-' + ${pedido.id}" data-backdrop="false">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header text-center">
                                        <h4 class="modal-title col-12 text-center" th:text="${pedido.id}">Default Modal</h4>
                                      </div>
                                      <div class="modal-body">
                                        <h5>INFORMACION</h5>
                                        <p> <b> Fecha </b> </p>
                                        <p th:text="${pedido.fecha}">One fine body&hellip;</p>
                                        <p> <b> Hora de pedido </b> </p>
                                        <p th:text="${pedido.horapedido}">One fine body&hellip;</p>
                                        <p> <b> Hora de recolección </b> </p>
                                        <p th:text="${pedido.horarecoleccion==null?'No se ha recogido':pedido.horarecoleccion}">One fine body&hellip;</p>
                                        <p> <b> Hora de entrega </b> </p>
                                        <p th:text="${pedido.horaentrega==null?'No se ha entregado':pedido.horaentrega}">One fine body&hellip;</p>
                                        <p> <b> Total </b> </p>
                                        <p th:text="${pedido.total}">One fine body&hellip;</p>
                                        <p> <b> Destino </b> </p>
                                        <p th:text="${pedido.destino.nombres + ' ' + pedido.destino.primerapellido + ' '+pedido.destino.segundoapellido}">One fine body&hellip;</p>
                                        <p th:text="${'Calle '+ pedido.destino.calle + 'No. '+pedido.destino.numero+' colonia '+pedido.destino.colonia}">One fine body&hellip;</p>
                                        <p th:text="${'Telefono: '+pedido.destino.telefono}">One fine body&hellip;</p>
                                        <p> <b> Repartidor </b> </p>
                                        <p th:text="${pedido.repartidor==null?'No hay repartidor asignado':pedido.repartidor.nombre + ' '+pedido.repartidor.primerapellido+' '+pedido.repartidor.segundoapellido}">One fine body&hellip;</p>
                                        <p> <b> Comentarios </b> </p>
                                        <p th:text="${pedido.comentarios}">One fine body&hellip;</p>
                                      </div>
                                      <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        <!-- <button type="button" class="btn btn-primary">CATALOGO</button> -->
                                        <!-- <a th:href="@{catalogoo?email=}+${sucursal.email}" class="btn btn-danger"><i class="fas fa-trash"></i>CATALOGO</a> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal fade" th:id="'modal-asignar-' + ${pedido.id}" data-backdrop="false">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header text-center">
                                        <h5>ASIGNACIÓN DE REPARTIDOR</h5>
                                      </div>
                                      <form action="/asignarrepartidor">
                                        <div class="modal-body">
                                          <input type="hidden" name="idp" id="idp" th:value="${pedido.id}">
                                          <select name="select" id="select" data-placeholder="Selecciona Repartidor" class="form-control select2 validate" required>
                                            <option id="seleccionado" name="seleccionado" th:each="r :${repartidores}" th:value="${r.id}" th:text="${r.nombre+' '+r.primerapellido+' '+r.segundoapellido}" th:class="${r.estatus}?table-primary:table-warning"></option>
                                          </select>
                                          <hr>
                                          <hr>
                                          <div class="card text-center">
                                            <p>Los repartidores marcados en amarillo están ocupados.</p>
                                          </div>
                                          <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Asignar</button>
                                          </div>
                                        </div>
                                      </form>
                                  </div>
                                </div>
                              </td>
                          </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                        <th>fecha</th>
                        <th>hora de pedido</th>
                        <th>hora de recoleeccion</th>
                        <th>hora de entrega</th>
                        <th>total</th>
                        <th></th>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div th:replace="includes/scripts"></div>
        <script src="plugins/toastr/toastr.min.js"></script>
        <script src="dist/js/funcionesextra.js"></script>
    </div>
</body>
</html>