<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Productos</title>
<div th:replace="includes/head::home"></div>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="includes/navbar"></div>
        <div th:replace="includes/sidebar"></div>
        <div class="content-wrapper">
            <div class="card card-rotating bg-gradient-light">
                <div class="card-header">
                  <h3 class="card-title">PRODUCTOS</h3>
                  <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                      <li class="nav-item">
                        <button sec:authorize="hasAuthority('ROL_COMERCIO')" type="button" class="btn btn-default" data-toggle="modal" data-target="#nuevo">
                          Nuevo
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <table id="tabla1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>nombre</th>
                      <th>contenido</th>
                      <th>descripcion</th>
                      <th>precio</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${productos.empty}">
                            <td colspan="4"> No hay productos registrados </td>
                        </tr>
                        <tr th:each="producto :${productos}">
                            <td><span th:text="${producto.nombre}"> Authority </span></td>
                            <td><span th:text="${producto.contenido}"> Authority </span></td>
                            <td><span th:text="${producto.descripcion}"> Authority </span></td>
                            <td><span th:text="${producto.precio}"> Authority </span></td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>nombre</th>
                        <th>contenido</th>
                        <th>descripcion</th>
                        <th>precio</th>
                    </tr>
                    </tfoot>
                  </table>

                  <!-- ///////////////////////////////////////////////////////// -->
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                        PRODUCTOS
                      </h3>
                    </div>
                    <div class="card-body">
                      <h4>Categorias</h4>
                      <div class="row">
                        <div class="col-5 col-sm-3">
                          <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" th:id="todo" data-toggle="pill" href="#vert-tabs-todo" role="tab" aria-controls="vert-tabs-todo" aria-selected="false">TODO</a>
                            <a th:each="categoria:${categorias}" class="nav-link" th:id="${categoria.nombre}" data-toggle="pill" th:href="'#vert-tabs-' + ${categoria.nombre}" role="tab" th:aria-controls="'vert-tabs-' + ${categoria.nombre}" aria-selected="false" th:text=${categoria.nombre}>Settings</a>
                          </div>
                        </div>
                        <div class="col-7 col-sm-9">
                          <div class="tab-content" id="vert-tabs-tabContent">
                            <div class="tab-pane text-left fade show active" id="vert-tabs-todo" role="tabpanel" aria-labelledby="todo" >Todos los productos
                              <div th:each="producto :${productos}" class="text-left fade show" th:text="'Estoy en la categoria de ' + ${producto.categoria.nombre} + ' con el producto ' + ${producto.nombre}">
                                Hola
                              </div>
                            </div>
                            <div th:each="categoria:${categorias}" class="tab-pane text-left fade show" th:id="'vert-tabs-' + ${categoria.nombre}" role="tabpanel" th:aria-labelledby="${categoria.nombre}" >
                              <div class="row d-flex align-items-stretch">
                                <div th:each="producto :${productos}" th:if="${producto.categoria.nombre}==${categoria.nombre}" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch fade show" >
                                  <div class="card bg-light">
                                    <div class="card-header text-muted border-bottom-0" th:text="${categoria.nombre}">
                                      Digital Strategist
                                    </div>
                                    <div class="card-body pt-0">
                                      <div class="row">
                                        <div class="col-7">
                                          <h2 class="lead"><b th:text="${producto.nombre}">Nicole Pearson</b></h2>
                                          <p class="text-muted text-sm" th:text="${producto.descripcion}"><b></b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                          <!-- <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                          </ul> -->
                                        </div>
                                        <div class="col-5 text-center">
                                          <img th:src="${producto.imagen}" alt="" class="img-circle img-fluid">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-footer">
                                      <div sec:authorize="hasAuthority('ROL_ADMIN')" class="text-right">
                                        <a class="btn btn-sm bg-teal">
                                          <i class="fas fa-edit"></i>Editar
                                        </a>
                                        <a class="btn btn-sm btn-danger">
                                          <i class="fas fa-trash"></i> Eliminar
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ///////////////////////////////////////////////////////// -->
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                        PRODUCTOS
                      </h3>
                    </div>
                    <div class="card-body">
                      <h4>Categorias</h4>
                      <div class="row">
                        <div class="col-5 col-sm-3">
                          <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">                            
                            <!-- <a class="nav-link active" id="vert-tabs-${categorias[0].nombre}-tab" data-toggle="pill" href="#vert-tabs-${categorias[0].nombre}" role="tab" aria-controls="vert-tabs-${categorias[0].nombre}" aria-selected="false" th:text="${categorias[0].nombre}"></a> -->
                            <a th:each="categoria :${categorias}" class="nav-link" id="vert-tabs-${categoria.nombre}-tab" data-toggle="pill" href="#vert-tabs-${categoria.nombre}" role="tab" aria-controls="vert-tabs-${categoria.nombre}" aria-selected="false" th:text="${categoria.nombre}"></a>
                          </div>
                          </div>
                        </div>
                        <div class="col-7 col-sm-9">
                          <div class="tab-content" id="vert-tabs-tabContent">
                            <div  class="tab-pane fade show active" id="vert-tabs-${categorias[0].nombre}" role="tabpanel" aria-labelledby="vert-tabs-${categorias[0].nombre}-tab">
                              <!-- <a th:text="${categorias[0].nombre}"></a> -->
                              <div class="card card-solid">
                                <div class="card-body pb-0">
                                  <div class="row d-flex align-items-stretch">
                                      <div th:each="producto:${productos}" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                        <div class="card bg-light">
                                          <div class="card-body pt-0">
                                            <div class="row">
                                              <div class="col-7">
                                                <h2 class="lead" th:text="${producto.nombre}"><b></b></h2>
                                                <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                                                </ul>
                                              </div>
                                              <div class="col-5 text-center">
                                                <img th:src="${producto.imagen}" alt="" class="img-circle img-fluid">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card-footer">
                                            <div sec:authorize="hasAuthority('ROL_ADMIN')" class="text-right">
                                              <a class="btn btn-sm bg-teal">
                                                <i class="fas fa-edit"></i>Editar
                                              </a>
                                              <a class="btn btn-sm btn-danger">
                                                <i class="fas fa-trash"></i> Eliminar
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div th:each="categoria :${categorias}" class="tab-pane fade show active" id="vert-tabs-${categoria.nombre}" role="tabpanel" aria-labelledby="vert-tabs-${categoria.nombre}-tab">
                              <a th:text="${categoria.nombre}"></a>
                              <div class="card card-solid">
                                <div class="card-body pb-0">
                                  <div class="row d-flex align-items-stretch">
                                      <div th:each="producto:${productos}" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                        <div class="card bg-light">
                                          <div class="card-body pt-0">
                                            <div class="row">
                                              <div class="col-7">
                                                <h2 class="lead" th:text="${producto.nombre}"><b></b></h2>
                                                <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                                                </ul>
                                              </div>
                                              <div class="col-5 text-center">
                                                <img th:src="${producto.imagen}" alt="" class="img-circle img-fluid">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card-footer">
                                            <div sec:authorize="hasAuthority('ROL_ADMIN')" class="text-right">
                                              <a class="btn btn-sm bg-teal">
                                                <i class="fas fa-edit"></i>Editar
                                              </a>
                                              <a class="btn btn-sm btn-danger">
                                                <i class="fas fa-trash"></i> Eliminar
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  <p> 
                   <di th:text = "${categorias}"></div>
                  </p>
                </div>
            </div>
        </div>
        <div class="modal fade" id="nuevo" data-backdrop="false">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <form class="form-signin" th:action="@{/registroproducto}" th:object=${producto} enctype="multipart/form-data" method="post" novalidate>
                <div class="modal-header">
                  <h4 class="modal-title">REGISTRO DE PRODUCTOS(PLATILLOS, PRODUCTOS)</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
                                <input th:field="*{nombre}" type="text" class="form-control validate" placeholder="Nombre" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input th:field="*{precio}" type="number" id="precio" name="precio" data-inputmask-regex="[1-9]*.99" data-mask class="form-control validate" placeholder="Precio" required>
                    </div>
                    <div class="form-group">
                        <input th:field="*{contenido}" type="text" id="contenido" name="contenido" class="form-control validate" placeholder="Contenido" required>
                    </div>
                    <div class="form-group">
                        <input th:field="*{descripcion}" type="text" name="descripcion" id="descripcion" class="form-control validate" placeholder="Descripción" required>
                    </div>
                    <div class="form-group">
                        <input type="file" name="file" class="file-input" id="file">
                    </div>
                    <div class="form-group">
                      <select th:field="*{categoria}" data-placeholder="Selecciona rol" class="form-control validate" required>
                          <option th:each="tipo :${categorias}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
                      </select>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
              </form>
              </div>
            </div>
        </div>
        <div th:replace="includes/footer::footer">&copy; 2016 The Static Templates</div>
        <div th:replace="includes/footer::home"></div>
        <div th:replace="includes/footer::script2"></div>
        <script src="plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function () {
            bsCustomFileInput.init();
          });
      </script>
    </div>
</body>
</html>