<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Productos</title>
<div th:replace="includes/head::home"></div>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="includes/navbar"></div>
        <div th:replace="includes/sidebar"></div>
        <div class="content-wrapper">
            <div class="card card-rotating bg-gradient-light">
                <div class="card-header">
                  <h3 class="card-title">PRODUCTOS</h3>
                  <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                      <li class="nav-item">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#nuevo">
                          Nuevo
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <table id="tabla1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>nombre</th>
                      <th>contenido</th>
                      <th>descripcion</th>
                      <th>precio</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${productos.empty}">
                            <td colspan="4"> No hay productos registrados </td>
                        </tr>
                        <tr th:each="producto :${productos}">
                            <td><span th:text="${producto.nombre}"> Authority </span></td>
                            <td><span th:text="${producto.contenido}"> Authority </span></td>
                            <td><span th:text="${producto.descripcion}"> Authority </span></td>
                            <td><span th:text="${producto.precio}"> Authority </span></td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>nombre</th>
                        <th>contenido</th>
                        <th>descripcion</th>
                        <th>precio</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="nuevo" data-backdrop="false">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <form class="form-signin" th:action="@{/registroproducto}" th:object=${producto} method="post" novalidate>
                <div class="modal-header">
                  <h4 class="modal-title">REGISTRO DE PRODUCTOS(PLATILLOS, PRODUCTOS)</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
                                <input th:field="*{nombre}" type="text" class="form-control validate" placeholder="Nombre" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input th:field="*{precio}" type="text" id="precio" name="precio" class="form-control validate" placeholder="Precio" required>
                    </div>
                    <div class="form-group">
                        <input th:field="*{contenido}" type="text" id="contenido" name="contenido" class="form-control validate" placeholder="Contenido" required>
                    </div>
                    <div class="form-group">
                        <input th:field="*{descripcion}" type="text" name="descripcion" id="descripcion" class="form-control validate" placeholder="Descripción" required>
                    </div>
                    <div class="form-group">
                      <select th:field="*{categoria}" data-placeholder="Selecciona rol" class="form-control validate" required>
                          <option th:each="tipo :${categorias}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
                      </select>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
              </form>
              </div>
            </div>
        </div>
        <div th:replace="includes/footer::footer">&copy; 2016 The Static Templates</div>
        <div th:replace="includes/footer::home"></div>
    </div>
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
          $("#tabla1").DataTable({
            "responsive": true,
            "autoWidth": false,
          });
          $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
        });
    </script>
    <script>
      (function() {
      'use strict';
      window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('form-signin');
      var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
      event.preventDefault();
      event.stopPropagation();
      }
      form.classList.add('was-validated');
      }, false);
      });
      }, false);
      })();
    </script>
</body>
</html>