<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Repartidores</title>
<div th:replace="includes/head::home"></div>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="includes/navbar"></div>
        <div th:replace="includes/sidebar"></div>
        <div class="content-wrapper">
            <div class="card card-rotating bg-gradient-light">
                <div class="card-header">
                  <h3 class="card-title">REPARTIDORES</h3>
                </div>
                <div class="card-body">
                  <table id="tabla1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>nombre</th>
                        <th>primer_apellido</th>
                        <th>segundo_apellido</th>
                        <th>calle</th>
                        <th>numero</th>
                        <th>colonia</th>
                        <th>municipio</th>
                        <th>telefono</th>
                        <th>email</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${repartidores.empty}">
                            <td colspan="9"> No hay repartidores registrados </td>
                        </tr>
                        <tr th:each="r :${repartidores}">
                            <td><span th:text="${r.nombre}"> Authority </span></td>
                            <td><span th:text="${r.primer_apellido}"> Authority </span></td>
                            <td><span th:text="${r.segundo_apellido}"> Authority </span></td>
                            <td><span th:text="${r.calle}"> Authority </span></td>
                            <td><span th:text="${r.numero}"> Authority </span></td>
                            <td><span th:text="${r.colonia}"> Authority </span></td>
                            <td><span th:text="${r.municipio}"> Authority </span></td>
                            <td><span th:text="${r.telefono}"> Authority </span></td>
                            <td><span th:text="${r.email}"> Authority </span></td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div th:replace="includes/footer::footer">&copy; 2016 The Static Templates</div>
        <div th:replace="includes/footer::home"></div>
    </div>
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
          $("#tabla1").DataTable({
            "responsive": true,
            "autoWidth": false,
          });
          $('#example2').DataTable({
            "paging": true,
            "lengthChange": falsae,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
        });
    </script>
</body>
</html>