<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Tipo de comercio</title>
<div th:replace="includes/head::home"></div>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="includes/navbar"></div>
        <div th:replace="includes/sidebar"></div>
        <div class="content-wrapper">
            <div class="card card-rotating bg-gradient-light">
                <div class="card-body">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">TIPOS DE COMERCIOS</h3>
                            <div class="card-tools">
                              <ul class="nav nav-pills ml-auto">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#nuevo">
                                  Nuevo
                                </button>
                              </ul>
                            </div>
                        </div>
                        <div class="modal fade" id="nuevo" data-backdrop="false">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <form class="form-signin" th:action="@{/registrotipocomercio}" th:object=${tipocomercio} method="post" novalidate>
                                        <div class="modal-header">
                                            <h4 class="modal-title">REGISTRO DE TIPO COMERCIO</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                            <input th:field="*{nombre}" type="text" class="form-control validate" placeholder="Nombre" required>
                                            </div>
                                            <div class="form-group">
                                                <input th:field="*{descripcion}" type="text" id="descripcion" name="descripcion" class="form-control validate" placeholder="Descripción" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Registrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive p-0" style="height: 300px;">
                            <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>DESCRIPCION</th>
                                <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each=" tipo: ${tiposcomercios}">
                                <td th:text="${tipo.id}" ></td>
                                <td th:text="${tipo.nombre}"></td>
                                <td th:text="${tipo.descripcion}"></td>
                                <td></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="includes/footer::footer">&copy; 2016 The Static Templates</div>
        <div th:replace="includes/footer::home"></div>
    </div>
</body>
</html>