<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Home</title>
<div th:replace="includes/css"></div>
<link rel="stylesheet" href="plugins/toastr/toastr.min.css">
<link th:replace="includes/sweetalert2">
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="includes/navbar"></div>
        <div th:replace="includes/sidebar"></div>
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-3 col-6" sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_CALLCENTER')">
                        <div class="small-box bg-info">
                          <div class="inner">
                            <h3 th:text="${totalcomercios}">150</h3>
                            <p>COMERCIOS REGISTRADOS</p>
                          </div>
                          <div class="icon">
                            <i class="ion ion-bag"></i>
                          </div>
                          <a href="/listacomercio" class="small-box-footer">Más detalles <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                      <div class="col-lg-3 col-6" sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_CALLCENTER')">
                        <div class="small-box bg-success">
                          <div class="inner">
                            <h3 th:text="${totalrepartidores}">53</h3>
                            <p>REPARTIDORES REGISTRADOS</p>
                          </div>
                          <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                          </div>
                          <a href="/listarepartidor" class="small-box-footer">Más detalles <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                      <div th:if="${activo}" class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                          <div class="inner">
                            <h3 th:text="${ordenescompletadas}">44</h3>
                            <p>PEDIDOS COMPLETADOS</p>
                          </div>
                          <div class="icon">
                            <i class="fas fa-check-double"></i>
                          </div>
                          <a href="/listapedido" class="small-box-footer">Más detalles <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                      <div th:if="${activo}" class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                          <div class="inner">
                            <h3 th:text="${ordenespendientes}">65</h3>
                            <p>PEDIDOS PENDIENTES</p>
                          </div>
                          <div class="icon">
                            <i class="fas fa-check"></i>
                          </div>
                          <a href="/listapedido" class="small-box-footer">Más detalles <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                    </div>
                </div>
                <div th:if="${activo}">
                    <div th:if="${establecerhorario}" sec:authorize="hasAuthority('ROL_COMERCIO')" class="container-fluid">
                      <div class="card card-primary card-outline">
                        <div class="card-header">
                          <h3 class="card-title"><i class="fas fa-edit"></i>ESTABLECE TU HORARIO</h3>
                        </div>
                        <div class="card-body">
                          <form action="/configurar" novalidate>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-xl-5 col-md-5 col-sm-5">
                                  <input type="text" name="apertura" class="form-control validate" th:value="${apertura}!=null?${apertura}" th:placeholder="${apertura}==null?'Hora de apertura'" data-inputmask='"mask": "##:##:##"' data-mask required>
                                </div>
                                <div class="col-xl-5 col-md-5 col-sm-5">
                                  <input type="text" name="cierre" class="form-control validate" th:value="${cierre}!=null?${cierre}" th:placeholder="${cierre}==null?'Hora de cierre'" data-inputmask='"mask": "##:##:##"' data-mask required>
                                </div>
                                <div class="col-xl-2 col-md-2 col-sm-2">
                                  <button th:text="${apertura}==null or ${cierre}==null ? 'Establecer' : 'Cambiar'" class="btn btn-outline-primary" type="submit">Establecer</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div sec:authorize="hasAuthority('ROL_COMERCIO')" class="card card-primary card-outline text-center">
                      <div class="card-header text-center">
                        <h3 class="card-title"><i class="fas fa-edit"></i>Muestra tu catalogo de productos con tecnología QR</h3>
                      </div>
                      <div class="card-body">
                        <img th:src="'qrs/'+${nombrecomercio}+'.png'" alt="" width="30%">
                      </div>
                      <div>
                        <p>¿No aparece tu código QR?</p>
                        <form action="/generarqr" novalidate>
                          <button class="btn btn-outline-primary" type="submit">Generar otro</button>
                        </form>
                      </div>
                    </div>
                </div>
                <div th:if="${activo}==false">
                    <div class="card card-primary card-outline">
                      <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-edit"></i>ERROR</h3>
                      </div>
                      <div class="card-body"><h1>Estimado usuario su mensualidad no ha sido pagada.</h1></div>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_CALLCENTER')" class="container-fluid">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-edit"></i>BUSQUEDA DE PRODUCTOS PARA REALIZAR ORDEN (SOLO SI YA EXISTEN COMERCIOS REGISTRADOS)</h3>
                        </div>
                        <div class="card-body">
                            <form action="/gp" novalidate>
                                <div class="input-group mb-3">
                                  <input type="text" name="search" id="search" class="form-control" placeholder="Buscar platillo o producto" required>
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_CALLCENTER')" class="container-fluid">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-edit"></i>REALIZAR ORDEN (SIN BUSCAR COMERCIOS NI PRODUCTOS)</h3>
                        </div>
                        <div class="card-body text-center">
                          <button class="btn btn-outline-primary" onclick="addacarritosincomercio()">AGREGAR PRODUCTO AL PEDIDO</button>
                        </div>
                    </div>
                </div>
                <div id="divconfirmarpedido"></div>
                <div th:if="${tablavisible}" sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_CALLCENTER')" class="container-fluid">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-edit"></i><strong th:text="${comen}?'COMERCIOS QUE CONTIENEN PRODUCTOS COINCIDENTES':'PRODUCTOS DE ' + ${nombrecomercio}"></strong></h3>
                        </div>
                        <div class="card-body">
                            <div th:if="${tablavisible}">
                                <table th:if="${comen}" class="table table-bordered table-striped">
                                  <thead>
                                    <tr>
                                      <th>Nombre</th>
                                      <th>Dirección</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody >
                                    <tr th:if="${comercios.empty}"><td colspan="5"> No hay resultados </td></tr>
                                    <tr th:each="c :${comercios}">
                                      <td><span th:text="${c.nombre}"></span></td>
                                      <td><span th:text="${c.sucursales[0].calle}+' No.'+${c.sucursales[0].numero}+' colonia '+${c.sucursales[0].colonia}"></span></td>
                                      <td class="text-center inline">
                                        <form action="/bpdh" novalidate>
                                          <input type="hidden" name="idp" id="idp" th:value="${c.id}">
                                          <input type="hidden" name="search" id="search" class="form-control" th:value="${search}">
                                          <button class="btn btn-outline-primary" type="submit">
                                            Ver productos
                                          </button>
                                        </form>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                  <table th:if="${proen}" id="tabla1" class="table table-bordered table-striped">
                                    <thead >
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Costo</th>
                                            <th>Comercio</th>
                                            <th>Descripción</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${productos.empty}"><td colspan="5"> No hay resultados </td></tr>
                                        <tr th:each="prod :${productos}">
                                            <td><span th:text="${prod.nombre}"></span></td>
                                            <td><span th:text="${prod.precio}"></span></td>
                                            <td><span th:text="${prod.comercio.nombre}"></span></td>
                                            <td><span th:text="${prod.descripcion}"></span></td>
                                            <td class="text-center inline">
                                              <button class="btn btn-outline-primary" type="submit" th:onclick="addacarrito([[${prod.id}]])">
                                                <i class="fas fa-cart-plus"></i></a>
                                              </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
    </div>
    <div th:replace="includes/scripts"></div>
    <div th:replace="includes/mascara"></div>
    <div th:replace="includes/formulariovalidar"></div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> -->
    <script src="dist/js/funcionesextra.js"></script>
    <script src="plugins/toastr/toastr.min.js"></script>
    <!-- <script>document.getElementById('divconfirmarpedido').style.display = 'none';</script> -->
</body>
</html>