<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Resultado</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="main.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
      
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="dist/css/cardspersonalizadas.css">
  </head>
  
  <body>
    <div class="card text-center">
    <nav class="navbar navbar-dark white">
        <a class="navbar-brand"  href="/">
          <img src="imagenes/logo2.png" height="30" alt="mdb logo">
        </a>
        <h3 class="navbar-toggler text-dark"> <strong> RESULTADO DE </strong></h3>
        <h3 class="navbar-toggler text-dark" th:text="${buscar}"></h3>
        <div class="items cart"></div>
      </nav>
    </div>

    <div class="container text-center">
      <div th:if="${porcomercio}" class="text-center">
        <div th:if="${comercios.empty}" class="text-center">
          <br><br><br><br><br><br>
          <h3 class="heading">NO HAY COMERCIOS COINCIDENTES CON SU BUSQUEDA</h3>
          <br>
          <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#modal"> <strong>Realiza otra busqueda</strong> <i class="fa fa-book ml-2"></i></button>
          <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog" role="document">
              <div class="modal-content text-center">
                <div class="modal-header d-flex justify-content-center">
                  <h3 class="heading">¿Qué te gustaría pedir?</h3>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                    <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
                    <p>
                      <strong>En que estas pensando...</strong>
                    </p>
                  </div>
                  <hr>
                  <form class="text-center" style="color: #757575;" action="spr">
                    <div class="form-check mb-4">
                      <input class="form-check-input" name="group1" hidden="" type="radio" id="radio-179" value="mandado" checked>
                      <label class="form-check-label" for="radio-179" hidden="true">Mandado</label>
                    </div>
                    <div class="form-check mb-4">
                      <input class="form-check-input" name="group1" hidden="" type="radio" id="radio-279" value="comida">
                      <label class="form-check-label" for="radio-279" hidden="">Comida</label>
                    </div>
                    <p class="text-center">
                      <strong>Producto o platillo</strong>
                    </p>
                    <div class="md-form">
                      <input type="hidden" name="com" id="com" value="no">
                    </div>
                    <div class="md-form">
                      <input name="buscar" type="text" id="form79textarea" class="md-text form-control" required></input>
                      <label for="form79textarea">Ingrese una palabra para buscar</label>
                    </div>
                    <div class="md-form">
                      <button type="submit" class="btn btn-default" >Buscar</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer flex-center">
                  <button type="button" class="btn btn-outline-default" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div th:each="comercio:${comercios}" class="profile-card-4 text-center col-xl-3 col-md-4 col-sm-6 mx-auto ">
          <form action="spr">
            <input type="hidden" name="group1" id="group1" value="noObtain">
            <input type="hidden" name="buscar" id="buscar" th:value="${buscar}">
            <input type="hidden" name="com" id="com" th:value="${comercio.nombre}">
            <button type="submit">
              <img th:src="${comercio.imagen != null ? comercio.imagen : 'imagenes/fondodelnavbar.jpg'}" class="img img-responsive" width="100%">
              <div class="profile-content">
                <div>
                  <p th:text="${comercio.sucursales[0].calle} + ' ' + ${comercio.sucursales[0].colonia}">Direccion del comercio</p>
                </div>
              </div>
              <h4 th:text="${comercio.nombre}">Tambien nombre</h4>
            </button>
          </form>
        </div>
      </div>
      <div th:if="${porproducto}" class="text-center">
        <div th:if="${unacategoria}" class="inline">
          <button data-filter="all" type="button" class="btn btn-link active">Todos</button>
          <button th:each="categoria:${categorias}" th:data-filter="${categoria.id}" th:text="${categoria.nombre}" type="button" class="btn btn-link select">Categoria 1</button>
        </div>
        <div class="row filter-container">
          <div th:each="producto:${productos}" class="filtr-item profile-card-4 col-xl-3 col-md-4 col-sm-6 mx-auto" th:data-category="${producto.categoria.id}" data-sort="value">
            <div class="contenedor">
              <a href="#">
                   <figure>
                       <img th:src="'https://mdmstorage.s3.us-east-2.amazonaws.com/Productos/' + ${producto.imagen}">
                       <div class="capa">
                          <h3 th:text="${producto.nombre}"></h3>
                          <p th:text="'$' + ${producto.precio>30?producto.precio + 10:producto.precio + 5}" class="old">$699</p>
                          <p th:text="'$' + ${producto.precio}" class="new">$345</p>
                          <p>
                            <!-- <button type="submit" class="btn btn-primary">
                              <i class="fa fa-shopping-cart"></i>
                              <span>AGREGAR AL CARRITO</span>
                            </button> -->
                          </p>
                       </div>
                   </figure>
               </a>
           </div>
          </div>
        </div>
      </div>
    </div>
	  <hr>
	  <br>
	  <br>
 	<footer class="page-footer font-small unique-color-dark">
		<div class="primary-color">
			<div class="container">
				<div class="row py-4 d-flex align-items-center">
					<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0 text-white">Siguenos en nuestras redes sociales.</h6>
					</div>
					<div class="col-md-6 col-lg-7 text-center text-md-right">
						<a class="fb-ic ml-0" href="https://www.facebook.com/mandadosdemama/">
							<i class="fab fa-facebook text-white mr-4"> </i>
						</a>
						<a class="tw-ic" href="https://twitter.com/MandadosDe">
							<i class="fab fa-twitter text-white mr-4"> </i>
						</a>
						<a class="ins-ic" href="https://www.instagram.com/mandadosdemama/">
							<i class="fab fa-instagram text-white mr-lg-4"> </i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container mt-5 mb-4 text-center text-md-left">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<!-- <strong>MANDADOS DE MAMÁ</strong> -->
					</h6>
					<hr>
					<img src="imagenes/logoazul.png" alt="Girl in a jacket" width="58%">
					<!-- <p>.</p> -->
				</div>
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Servicios</strong>
					</h6>
					<hr>
					<p><i class="fas fa-bicycle"></i>
						<a href="/#platillos">&nbsp;Reparto de comida</a>
					</p>
					<p><p><i class="fas fa-bicycle"></i>
						<a href="/#platillos">&nbsp;Mandados</a>
					</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase font-weight-bold alli">
						<strong>Accede</strong>
					</h6>
					<hr>
					<p><i class="fas fa-sign-in-alt"></i>
						<a href="/home">&nbsp;Iniciar sesión</a>
					</p>
					<h6 class="text-uppercase font-weight-bold alli">
						<a><strong>Registro</strong></a>
					</h6>
					<hr>
					<p><i class="fas fa-shopping-cart"></i>
						<a href="infoComercio">&nbsp;Comercios</a>
					</p>
					<p><i class="fas fa-bicycle"></i>
						<a href="infoRepartidor">&nbsp;Repartidores</a>
					</p>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Contacto</strong>
					</h6>
					<hr>
					<p><i class="fas fa-phone"></i>&nbsp;951 672 18 79</p>
					<p><i class="fas fa-phone"></i>&nbsp;951 672 18 85</p>
					<p><i class="fas fa-envelope"></i>&nbsp;contacto@mandadosdemama.com</p>
					<p><i class="fas fa-home"></i>&nbsp;Fovissste, Oaxaca de Juarez, Oaxaca</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">© 2021 Copyright:
      		<a href=""><strong> Mandados de mamá</strong></a>
		</div>
	</footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:if="${unacategoria}" type="text/javascript" src="scripts/filterizr.min.js"></script>
    <script th:if="${unacategoria}" type="text/javascript" src="scripts/vanilla.filterizr.min.js"></script>
    <script th:if="${unacategoria}" type="text/javascript" src="scripts/jquery.filterizr.min.js"></script>
    <script th:if="${unacategoria}">
      $(function () {
        $('.filter-container').filterizr({gutterPixels: 4});
        $('.btn[data-filter]').on('click', function() {
          $('.btn[data-filter]').removeClass('active');
          $(this).addClass('active');
        });
      })
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  </body>
</html>