<footer class="main-footer page-footer font-small unique-color-dark">
    <div class="primary-color">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 text-white">Siguenos en nuestras redes sociales.</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="fb-ic ml-0" href="https://www.facebook.com/mandadosdemama/">
                        <i class="fab fa-facebook text-white mr-4"> </i>
                    </a>
                    <a class="tw-ic" href="https://twitter.com/MandadosDe">
                        <i class="fab fa-twitter text-white mr-4"> </i>
                    </a>
                    <a class="ins-ic" href="https://www.instagram.com/mandadosdemama/">
                        <i class="fab fa-instagram text-white mr-lg-4"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <!-- <strong>MANDADOS DE MAMÁ</strong> -->
                </h6>
                <hr>
                <img src="imagenes/logoazul.png" alt="Girl in a jacket" width="58%">
                <!-- <p>.</p> -->
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Servicios</strong>
                </h6>
                <hr>
                <p><i class="fas fa-bicycle"></i>
                    <a href="#platillos">&nbsp;Reparto de comida</a>
                </p>
                <p><p><i class="fas fa-bicycle"></i>
                    <a href="#platillos">&nbsp;Mandados</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold alli">
                    <strong>Accede</strong>
                </h6>
                <hr>
                <p><i class="fas fa-sign-in-alt"></i>
                    <a href="/home">&nbsp;Iniciar sesión</a>
                </p>
                <h6 class="text-uppercase font-weight-bold alli">
                    <a><strong>Registro</strong></a>
                </h6>
                <hr>
                <p><i class="fas fa-shopping-cart"></i>
                    <a href="infoComercio">&nbsp;Comercios</a>
                </p>
                <p><i class="fas fa-bicycle"></i>
                    <a href="infoRepartidor">&nbsp;Repartidores</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contacto</strong>
                </h6>
                <hr>
                <p><i class="fas fa-phone"></i>&nbsp;951 672 18 79</p>
                <p><i class="fas fa-phone"></i>&nbsp;951 672 18 85</p>
                <p><i class="fas fa-envelope"></i>&nbsp;contacto@mandadosdemama.com</p>
                <p><i class="fas fa-home"></i>&nbsp;Fovissste, Oaxaca de Juarez, Oaxaca</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
          <a href=""><strong> Mandados de mamá</strong></a>
    </div>
</footer>