<div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-edit"></i>PEDIDO</h3>
      <div class="card-tools">                      
        <ul class="nav nav-pills ml-auto">
          <h5 th:text="'Total = ' + ${totalp}" class="btn-outline-primary"></h5>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <table id="tablapedido" class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th>Cantidad</th>
                  <th>Producto/Presentacion</th>
                  <th>Comentario</th>
                  <th>Accion</th>
              </tr>
          </thead>
          <tbody id="cuerpo">
            <!-- <tr th:if="${productosagregados.empty}">
              <td colspan="3"> No hay registros </td>
            </tr> -->
            <tr th:each="pa,iterador :${productosagregados}">
              <td><span th:text="${pa.presentacion}"> Authority </span></td>
              <td><span th:text="${pa.producto}"> Authority </span></td>
              <td><span th:text="${pa.comentario}"> Authority </span></td>
              <td>
              <button type="button" class="btn btn-danger" th:onclick="eliminardelcarritosincomercio([[${iterador.index}]],[[${pa.producto}]],[[${pa.presentacion}]],[[${pa.comentario}]])">Quitar</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar producto en pedido</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="presentacion" class="col-form-label">Cantidad/Porcion:</label>
                            <input type="text" class="form-control" id="presentacion" th:value="${pa.presentacion}">
                          </div>
                          <div class="form-group">
                            <label for="producto" class="col-form-label">Producto/Present acion:</label>
                            <input type="text" class="form-control" id="producto" th:value="${pa.producto}">
                          </div>
                          <div class="form-group">
                            <label for="comentarios" class="col-form-label">Comentarios:</label>
                            <input type="text" class="form-control" id="comentarios" th:value="${pa.comentario}">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                      </div>
                    </div>
                  </div>
                </div>
              <!-- </td>
              <td th:text="${iterador.index}"td> -->
            </tr>
          </tbody>
      </table>
      <br>
      <div class="text-center">
        <button class="btn btn-outline-primary" type="submit" data-toggle="modal" data-target="#nuevo">
          <i class="fas fa-cart-plus"></i></a>Confirmar pedido
        </button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="nuevo">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mx-auto">
              <div class="form-group">
                <h3>Datos del cliente</h3>
              </div>
              <div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-4">
                      <input id="cliente-nombres" type="text" class="form-control validate" placeholder="Nombre" required>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4">
                      <input id="cliente-primerapellido" type="text" class="form-control validate" placeholder="Primer apellido" required>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4">
                      <input id="cliente-segundoapellido" type="text" class="form-control validate" placeholder="Segundo apellido">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-4">
                      <input id="cliente-calle" type="text" class="form-control validate" placeholder="Calle" required>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4">
                      <input id="cliente-numero" type="text" class="form-control validate" placeholder="Numero" required>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4">
                      <input id="cliente-colonia" type="text" class="form-control validate" placeholder="Colonia" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-6">
                      <input id="cliente-municipio" type="text" class="form-control validate"  value="Oaxaca de Juarez"  required>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6">
                      <input id="cliente-telefono" type="text" class="form-control validate" placeholder="Telefono" data-inputmask='"mask": "(###) ###-####"' data-mask required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <button type="submit" class="btn btn-block btn-outline-primary swalDefaultInfo" th:onclick="confirmarPedidoSincomercio()">Registrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- <script>

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  // modal.find('.modal-title').text('New message to ' + recipient)
   modal.find('.modal-body input').val("${pa.producto}")
})
</script> -->
